# WARNING: See https://wiki.qt.io/Qt_for_Python compatibility matrix for information on compatible version of PyQt6 and
# python. If you want to upgrade, consult the matrix, select the latest python version with full support and then
# install PyQt6 without a version specification. Pip should select a compatible version, use that! - This is the
# easiest way to upgrade it without breaking anything
python~=3.11.4
pyqt6~=6.11.0
PyQtWebEngine~=5.15.7
PyQt6-WebEngine~=6.11.0
requests~=2.33.1
pandas~=3.0.2
numpy~=2.4.4
tabulate~=0.10.0
plotly~=6.7.0
xlsxwriter~=3.2.9
pyinstaller~=6.19.0
scipy~=1.17.1
pytest~=9.0.3